@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background: left url("./assets/red light.png") no-repeat, #0E1014;
    font-family: Inter, sans-serif;
    color: #E4E5EA;
}

main {
    padding-top: 5.9rem;
    padding-bottom: 7.75rem;
    display: flex;
    justify-content: space-between;
}

footer {
    padding-bottom: 1.25rem;
}


.app {
    width: 1140px;
    margin: auto;
    padding-top: 2.875rem;
    background:
    top url("./assets/purple light.png") no-repeat,
    44.875rem 0 url("./assets/purple ball.png") no-repeat,
    23.0635rem 5.1875rem url("./assets/red ball.png") no-repeat,
    43.9375rem 34.1875rem url("./assets/red ball (1).png") no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: .6875rem;
}

.logo__subtitle {
    margin-top: .4rem;
    margin-bottom: 0;
    width: 8.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .625rem;
    line-height: .75rem;
}

.nav-bar {
    display: flex;
    gap: 1.875rem;
    padding-left: 3.25rem;
    padding-top: .9375rem;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.05rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.nav-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 2.1rem;
    width: 0;
    height: 0.125rem;
    background-color: #E4E5EA;
    transition: width 0.5s;
}

.nav-link:hover:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2.1rem;
    height: 0.125rem;
    background-color: #E4E5EA;
    transition: width 0.5s;
}

.contacts {
    padding-left: 8.5625rem;
    padding-top: .9375rem;
    display: flex;
    gap: 2.9375rem;
}

.contacts__number {
    line-height: 1.1875rem;
    letter-spacing: 0.07rem;
    cursor: pointer;
}

.contacts-icons {
    display: flex;
    gap: 1.875rem;
    align-items: flex-start;
}

.contacts-icons__icon {
    cursor: pointer;
}

.project-promo__title {
    font-size: 3rem;
    margin: 0;
    font-weight: normal;
    line-height: 3.625rem;
    width: 22.625rem;
    letter-spacing: 0.06rem;
}

.project-promo__title .color-text {
    letter-spacing: 0;
    font-weight: 900;
    background-image: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
}

.project-promo__subtitle {
    margin-top: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    width: 17.1875rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-content__title {
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    width: 18.1875rem;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}

.project-content__title .color-text {
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.color-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem 1.6rem;
    margin-top: 2.5rem;
    margin-bottom: 3.8125rem;
    padding-left: 0;
    list-style-type: none;
}

.present-cell {
    width: 8.7rem;
    text-align: right;
}

.present-cell__title {
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.05rem;
    margin-bottom: .375rem;
}

.present-cell__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
}

.button {
    padding: 1.3125rem 2.1875rem;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: #4077F3;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: #E4E5EA;
}



.footer-content {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 6.125rem
}

.list-header {
    text-transform: uppercase;
    color: #656566;
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: 0.05rem;
    margin: 0;
}

.list {
    padding: 0;
    list-style-type: none;
    margin-top: 1.25rem;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .625rem 3.25rem;
    height: 8.4375rem;
}

.list-item {
    letter-spacing: 0.05rem;
}

.footer-contacts {
    text-align: right;
}

.footer-contacts .list {
    gap: 1.25rem;
}

.list-item .contacts-icons {
    justify-content: flex-end;
    gap: .625rem;
}

.rights {
    text-align: right;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 2.0625rem;
    letter-spacing: 0.05rem;
}

.rights p {
    margin-top: 0;
    margin-bottom: .3125rem;
}

.rights a {
    text-decoration: underline;
}

.mobile {
    display: none;
}


@media (max-width: 770px) {
    .mobile {
        display: flex;
        flex-wrap: wrap;

    }

    body {
        background:  100% 3.4375rem url("./assets/mobile/purple light.png") no-repeat,
        0 3.5rem url("./assets/mobile/red light.png") no-repeat,
        100% 3.5rem url("./assets/mobile/purple ball.png") no-repeat,
        #0E1014;
    }

    header {
        justify-content: center;
        padding-bottom: 1.25rem;
    }

    main {
        padding-top: 2.5rem;
        padding-bottom: 3.75rem;
        display: block;
        background: 35% 100% url("./assets/red ball (1).png") no-repeat;
    }

    footer {
        padding-top: 2.5rem;
    }

    .desktop {
        display: none;
    }

    .app {
        background: none;
        width: 288px;
        padding: 1.25rem 1rem;
    }

    .nav-bar {
        padding: 0;
        justify-content: space-between;
        gap: 1rem;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    .nav-link {
        letter-spacing: 0;
    }

    .project-promo__title {
        font-size: 2.25rem;
        width: auto;
        line-height: 2.75rem;
    }

    .project-promo__subtitle {
        margin-top: .9375rem;
        margin-bottom: 0;
    }

    .project-content {
        align-items: flex-start;
    }

    .project-content__title {
        margin-top: 2.8125rem;
        text-align: left;
        width: auto;
    }

    .project-content__title .color-text {
        font-weight: 700;
        letter-spacing: 0.05rem;
        text-transform: none;
    }

    .presents {
        margin-top: 1.25rem;
        gap: .9375rem .625rem;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .present-cell__title {
        font-size: .8125rem;
        margin-bottom: 0;
        line-height: 1rem;
    }

    .present-cell {
        min-width: 6.125rem;
        width: auto;
        background-image: url("./assets/Line 9.svg");
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: .9375rem;
        text-align: left;
    }

    .footer-content {
        flex-direction: column;
        gap: 1.875rem;
    }

    .links {
        flex-direction: column;
        gap: 1.875rem;
    }

    .list {
        gap: .625rem .3rem;
        height: 8.875rem;
        align-items: flex-start;
    }

    .list-header {
        font-size: .75rem;
    }

    .list-item {
        font-size: .875rem;
        line-height: 1.0625rem;
        letter-spacing: 0;
    }

    .about .list {
        height: auto;
    }

    .menu .list .list-item {
        width: 6.6rem;
    }

    .footer-contacts {
        text-align: left;
    }

    .footer-contacts .list {
        gap: .625rem;
        height: auto;
    }

    .footer-contacts .list .list-item:first-child {
        font-size: 1rem;
    }

    .contacts-icons__icon {
        width: 1.5rem;
    }

    .rights {
        text-align: left;
        margin-top: 3.5rem;
    }

}